<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.servicetest">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceTest"
        tools:targetApi="n">
        <activity
            android:name=".Rxjava2text.textRxjavaActivity"
            android:exported="false" />
        <activity android:name=".activity.TextInputLayoutActivity" />
        <activity android:name=".activity.mPaintActivity" />
        <activity android:name=".okhttpTestActivity" />
        <activity android:name=".viewPager2Acitivity" />
        <activity android:name=".BroadCastTest" />
        <activity android:name=".FragmentTextActivity" />
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.ServiceTest.NoActionBar">
            <intent-filter>
                <action android:name="com.intent.activitytext.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CardViewText" />
        <activity android:name=".recyclerViewGrid" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".HelloService" />
    </application>

</manifest>